<h2>Destination Oneonta Homepage, just the beginning.</h2>
<%= link_to "Add a link", new_link_path %>

 <ul>
  <% @links.each do |link| %>
    <li><%= link_to link.title, link.url %></li>
    <%= link_to "comments", link %>
    <%= link_to "+", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post %>
  <% end %>
</ul>

<%= will_paginate @links %>