<h2>Destination Oneonta</h2><h3>Events listing source for what's happening in Oneonta, NY</h3>
<% if current_user.present? %>
  <%= link_to "Add an Event", new_link_path %>
 <ul>
  <% @links.each do |link| %>
    <li><%= link_to link.title, link %></li>
    <%= link_to "comments", link %>
    Votes: <%= link.votes.where(:up => true).count - link.votes.where(:up => false).count %>
    <% if current_user && current_user.votes.where(:link_id => link.id, :up => true).present? %>
    *
    <% else %>
      <%= link_to "+", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post %>
    <% end %>
    <% if current_user && current_user.votes.where(:link_id => link.id, :up => false).present? %>
    *
    <% else %>
      <%= link_to "-", votes_path(:vote => {:link_id => link.id, :up => false}), :method => :post %>
    <% end %>
  <% end %>
 </ul>

<% else %>
  <%= link_to "New User?", new_user_registration_path %>
 <ul>
  <% @links.each do |link| %>
    <li><%= link_to link.title, link %></li>
    <%= link_to "comments", link %>
    Votes: <%= link.votes.where(:up => true).count - link.votes.where(:up => false).count %>
    <% if current_user && current_user.votes.where(:link_id => link.id, :up => true).present? %>
    *
    <% else %>
      <%= link_to "+", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post %>
    <% end %>
    <% if current_user && current_user.votes.where(:link_id => link.id, :up => false).present? %>
    *
    <% else %>
      <%= link_to "-", votes_path(:vote => {:link_id => link.id, :up => false}), :method => :post %>
    <% end %>
  <% end %>
 </ul>

 <%= will_paginate @links %>
 <% end %>